:root {
  --background-color: #1B2223;
  --secound-color: #1D1E29;
  --accent: #0EF6CC;
  --highlight-color: #F4FEFD;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--background-color);
}

.header {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: var(--highlight-color);
  color: var(--secound-color);
  width: 40%;
  border-radius: 15px;
  border: 1px solid gray;
  user-select: none;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  float: left;
}

.bar {
  width: 40px;
  height: 4px;
  background-color: #808080;
}

.bar:last-child {
  width: 70%;
}


#texto_nome {
  overflow: hidden;
  border-right: 0.15em solid blue;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation:
    digitar 2s steps(30, end),
    piscar-cursor 0.8s step-end infinite;
}

/* Define a animação */
@keyframes digitar {
  from { width: 0 }
  to { width: 95% }
}

@keyframes piscar-cursor {
  from, to { border-color: transparent }
  50% { border-color: blue }
}


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}