:root {
  --dark-background-color: #26292b;
  --dark-secound-color: #2e3239;
  --dark-accent: #30a9de;
  --dark-secound-accent: #a2ded0;
  --dark-highlight-color: #f4fefd;

  --light-background-color: #f5f5f5;
  --light-secound-color: #3d7c98;
  --light-accent: #73b0cd;
  --light-highlight-color: #26292b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  position: absolute;
  float: right;
  top: 1%;
  right: 1%;
  width: 120px;
  height: 45px;
  display: block;
  background: url('images/imagem1.jpg') center/cover;
  border: 5px solid rgba(198, 247, 253, 0.3);
  border-radius: 100px;
  cursor: pointer;
  transition: .8s ease;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
label::after {
  content: '';
  position: absolute;
  height: 92%;
  width: 30%;
  background: #f2f2f2;
  opacity: .5;
  border-radius: 50%;
  top: 4%;
  left: 4%;
  transition: 0.8s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label::before {
  content: '';
  position: absolute;
  height: 90%;
  width: 30%;
  border: 5px solid rgba(198, 247, 253, 0.3);
  border-radius: 50%;
  top: -6%;
  left: 0;
  transition: 0.8s ease;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.18);
}

.background {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(var(--light-background-color), var(--dark-highlight-color));
  background: -webkit-linear-gradient(var(--light-background-color), var(--dark-highlight-color));
  transition: all 1s ease;
  color: var(--light-highlight-color);
  padding: 1.5vw;
}

input:checked ~ label::after {
  left: 96%;
  transform: translateX(-100%);
  background: #777ba5;
}
input:checked ~ label::before {
  left: 100%;
  border: 5px solid rgba(90, 79, 136, 0.2);
  transform: translateX(-100%);
}
input:checked ~ label {
  background: url('images/imagem2.jpg') center/cover;
  border: 5px solid rgba(90, 79, 136, 0.2);
}
input:checked ~ .background {
  background: linear-gradient(var(--dark-background-color), var(--dark-secound-color));
  background: -webkit-linear-gradient(var(--dark-background-color), var(--dark-secound-color));
  color: var(--dark-highlight-color);
}
input {
  display: none;
}

input:checked ~ .background .menu {
  background: var(--dark-secound-color);
  color: var(--light-highlight-color);
}

img#natan {
  width: 25vw;
  position: relative;
  margin: 0;
}

header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 0 20px 0;
  font-family: 'Unbounded', sans-serif;
}

.bloco {
  display: flex;
  align-items: flex-start;
  margin-top: 0;
  border: 1px solid red;
  width: 60%;
  position: relative;
  float: right;
}

.bloco p {
  text-align: justify;
}

.sobre {
  position: absolute;
  top: 10vw;
  right: 1.5vw;
  width: 60%;
}

.sobre h4 {
  text-align: center;
}

.sobre p {
  text-align: justify;
  text-indent: 25px;
  margin-top: 5px;
}

.sobre p:first-of-type {
  margin-top: 10px;
}

/*Estilos para telas grandes*/
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 3vw;
  }
  
  header h3 {
    font-size: 1.5vw;
  }
}

/*Estilos para telas médias*/
@media screen and (max-width: 1023px) and (min-width: 768px) {

}

/*Estilos para telas pequenas*/
@media screen and (max-width: 767px) {
  header h1 {
    font-size: 8vw;
  }

  header h3 {
    font-size: 5vw;
  }

  img#natan {
    width: 35vw;
  }

  .sobre {
    position: absolute;
    top: 21vw;
    right: 0;
    font-size: 2.5vw;
  }
}