:root {
  --light-background-color: #f5f5f5;
  --light-secound-color: #0a9396;
  --light-accent: #65C9FF;
  --light-highlight-color: #26292b;

  --dark-background-color: #26292b;
  --dark-secound-color: #2e3239;
  --dark-accent: #30a9de;
  --dark-secound-accent: #a2ded0;
  --dark-highlight-color: #f4fefd;
}

::selection {
  background-color: var(--light-accent);
  color: #fff;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/*DESIGN DAS CORES EM MODO ESCURO*/
input:checked ~ label::after {
  left: 93.5%;
  transform: translateX(-100%);
  background: #777ba5;
}

input:checked ~ label::before {
  left: 99%;
  border: 5px solid rgba(90, 79, 136, 0.2);
  transform: translateX(-100%);
}

input:checked ~ label {
  background: url('images/imagem2.jpg') center/cover;
  border: 5px solid rgba(90, 79, 136, 0.2);
}

input:checked ~ .background {
  background: var(--dark-background-color);
}

input:checked ~ header,
input:checked ~ main nav ul li a,
input:checked ~ main,
input:checked ~ section,
input:checked ~ aside,
input:checked ~ .contato,
input:checked ~ main .contato a,
input:checked ~ footer,
input:checked ~ footer a {
  color: var(--dark-highlight-color);
}

input:checked ~ .background .timeline-item:hover {
  background: var(--dark-accent-color);
}

input:checked ~ .timeline-item:hover p:first-of-type {
  color: var(--dark-accent);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}
/*FIM DESIGN DAS CORES EM MODO ESCURO*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vw;
  height: 100%;
  background: var(--light-background-color);
  transition: all .3s ease;
  color: var(--light-highlight-color);
  box-sizing: border-box;
  z-index: -1;
  overflow-y: auto;
}

/*BOTAO DE MODO CLARO E ESCURO*/
label {
  position: absolute;
  top: 1.5vw;
  right: 1.5vw;
  width: 130px;
  height: 40px;
  display: block;
  background: url('images/imagem1.jpg') center/cover;
  border: 5px solid rgba(198, 247, 253, 0.3);
  border-radius: 100px;
  cursor: pointer;
  transition: .8s ease;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

label::after {
  content: '';
  position: absolute;
  height: 53%;
  width: 13%;
  background: #f2f2f2;
  opacity: .5;
  border-radius: 50%;
  top: 25%;
  left: 6%;
  transition: 0.8s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label::before {
  content: '';
  position: absolute;
  height: 55%;
  width: 13.8%;
  border: 5px solid rgba(198, 247, 253, 0.3);
  border-radius: 50%;
  top: 4%;
  left: 1%;
  transition: 0.8s ease;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.18);
}
/*FIM BOTAO DE MODO CLARO E ESCURO*/

/*ANIMAÇÃO DIGITAÇÃO*/
.euSou {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.euSou p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.euSou p span.typed-text {
  font-weight: bold;
  color: var(--light-accent);
}
.euSou p span.cursor {
  display: inline-block;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.euSou p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
/*FIM ANIMAÇÃO DIGITAÇÃO*/

input {
  display: none;
}

header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 1.5vw;
}

img#natan {
  position: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 20%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.18));
}

.sobre {
  position: relative;
  margin-left: 26.1%;
  margin-top: -15%;
  width: 74.1%;
}

.sobre h4 {
  text-align: center;
}

.sobre p {
  text-align: justify;
  text-indent: 25px;
  margin-top: 5px;
}

.sobre p:first-of-type {
  margin-top: 10px;
}

nav {
  position: absolute;
  float: left;
  left: 1.5vw;
  width: 15%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  position: relative;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

nav a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: var(--light-accent);
  transform: scaleY(0);
  transition: transform 0.3s;
}

nav a:hover:before {
  transform: scaleY(1);
}

main {
  margin: 0;
  margin-top: 2%;
}

aside {
  position: absolute;
  left: 19.2%;
}

.timeline-style {
  position: relative;
  height: auto;
  width: 80%;
  /*margin-left: 19.5%;*/
}

.timeline-style h4 {
  text-align: center;
  margin-bottom: 10px;
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 5px;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  opacity: 1;
  transition: opacity 0.3s;
  transition: all .3s ease;
}

.timeline-item:hover {
  cursor: pointer;
  border: 1px solid rgba(198, 247, 253, 0.3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(211, 211, 211, .12);
}

.timeline-style:hover .timeline-item:not(:hover) {
  opacity: 0.5;
}

.timeline-item:hover p:first-of-type {
  color: var(--light-accent);
}

.timeline p {
  text-align: justify;
}

.timeline-item p.competencias {
  color: var(--dark-highlight-color);
  display: inline-block;
  margin-top: 10px;
  margin-right: 2px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--light-accent);
  font-weight: 600;
}

.timeline p:first-of-type {
  font-weight: bold;
  margin-bottom: 4px;
  transition: all .3s ease;
}

.timeline-item {
  display: flex;
  margin-bottom: 20px;
}

.timeline-date {
  font-weight: bold;
  min-width: 75px;
  font-size: 12px;
  text-align: center;
}

.timeline-content {
  margin-left: 20px;
}

/* Estilos para a seção de formações acadêmicas */
.formacoes {
  padding: 20px;
  text-align: center;
}

.formacoes p {
  color: #333;
}

.formacoes ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.formacoes li {
  margin-bottom: 10px;
}

.divisao:first-of-type {
  margin-top: 10px;
}

.divisao {
  margin-bottom: 30px;
}

.divisao h5 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  display: inline-block;
}

.divisao h5::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--light-accent);
}

.divisao ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.divisao li {
  margin-bottom: 5px;
}


/* PORTIFOLIO */

#portfolio > h4 {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 28vw;
  overflow: hidden;
}

.portfolio_stream {
  display: flex;
  width: 100%;
  height: 30vw;
  max-height: 28vw !important;
}

.portfolio_item {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: 1s all ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
}

.portfolio_item:hover {
  cursor: pointer;
}

.portfolio_item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(.8);
}

.portfolio_item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.portfolio_item:nth-child(3) {
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}

.portfolio_item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.portfolio_item:nth-child(n+5) {
  left: 100%;
  z-index: 1;
  transform: scale(.8);
}

.bg-1 {
  background-image: url(/images/pswPage.png);
}

.bg-2 {
  background-image: url(/images/nfcePage.png);
}

.bg-3 {
  background-image: url(/images/githubPage.gif);
}

.bg-4 {
  background-image: url(https://turismo.praiagrande.sp.gov.br/wp-content/uploads/2021/07/construcao.png);
}

.bg-5 {
  background-image: url(https://turismo.praiagrande.sp.gov.br/wp-content/uploads/2021/07/construcao.png);
}

.bg-6 {
  background-image: url(https://turismo.praiagrande.sp.gov.br/wp-content/uploads/2021/07/construcao.png);
}

.bg-7 {
  background-image: url(https://turismo.praiagrande.sp.gov.br/wp-content/uploads/2021/07/construcao.png);
}

.portfolio_prev,
.portfolio_next {
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  cursor: pointer;
}

.portfolio_prev {
  left: 0;
}

.portfolio_next {
  left: 100%;
}



/*PORTIFOLIO*/

.contato {
  text-align: center;
  margin-top: 40px;
}

.contato h4 {
  margin-bottom: 10px;
}

.contato p {
  margin-bottom: 20px;
}

.contato a {
  display: inline-block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.contato img {
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
}


footer {
  padding: 20px;
  text-align: center;
}

.footer-content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  flex: 1;
  margin: 0;
}

.footer-links {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
}

.footer-line {
  border: none;
  border-top: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
}

.line {
  border: none;
  border-top: 1px solid #ccc;
  width: 60%;
  margin: 0 auto;
}

#seta {
  font-size: 20px;
  display: inline-block;
  transform: rotate(-90deg);
  color: var(--dark-highlight-color);
  background: var(--light-accent);
  border-radius: 50% 20% / 10% 40%;
  padding: 5px;
}